# Binary files
*.dll
*.exe
*.pdb

# User specific files
*.sln.docstates
*.suo
*.user
**/.idea
**/.vscode

# Build results
DROP/
msbuild.log
node_modules
TEMP/
version.cs
**/__pycache__

# Test temp folder
test_folder/

#Mac
.DS_Store

# Toolchain
vsc-iot-tools


# OP
log/
obj/
_site/
.optemp/
_themes/
_themes.MSDN.Modern/
_themes.VS.Modern/

.openpublishing.buildcore.ps1

# Logs
npm-debug.log
